* {
  margin: 0;
  padding: 0; }

/* ---------- BACKGROUNDS ---------- */
#page-home {
  background: url("../images/baking.jpg");
  background-size: cover;
  background-position: center; }

#page-cafe {
  background: url("../images/cafe.png");
  background-size: cover;
  background-position: center; }

#page-bakery,
#page-contact {
  background-color: #ffcc99; }

#sub-pastries,
#sub-cookies {
  background-color: #cc9999; }

#sub-cakesPies {
  background-color: #ffcccc; }

/* ---------- LINKS ---------- */
a:link {
  color: #660000;
  text-decoration: none; }

a:visited {
  color: #660000; }

a:hover {
  color: #ffffff; }

a:active {
  color: #ffffff; }

/* ---------- NAVIGATION ---------- */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #cc9966;
  width: 100%;
  height: 100px;
  box-shadow: 2px 6px 15px #333333;
  z-index: 1000; }
  nav ul {
    text-align: center; }
    @media (min-width: 480px) {
      nav ul {
        text-align: right;
        padding-right: 20px; } }
  nav li {
    list-style-type: none;
    margin-top: 50px;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    font-size: 1.2em; }
    @media (min-width: 480px) {
      nav li {
        font-size: 1.5em; } }

/* ---------- HEADINGS ---------- */
h1 {
  padding: 10px;
  display: inline-block; }

.main h1 {
  font-size: 3em; }

.sub h1 {
  font-size: 3em; }

/* ---------- PAGE HEIGHTS ---------- */
#page-home {
  height: 600px; }

#page-bakery {
  height: 850px; }

#sub-pastries {
  height: 1100px; }
  @media (min-width: 560px) {
    #sub-pastries {
      height: 700px; } }
  @media (min-width: 832px) {
    #sub-pastries {
      height: 500px; } }

#sub-cakesPies {
  height: 650px; }
  @media (min-width: 560px) {
    #sub-cakesPies {
      height: 500px; } }

#sub-cookies {
  height: 500px; }

#page-cafe {
  height: 500px; }

#page-contact {
  height: 500px; }

/* ---------- BAKERY PAGE IMAGES ---------- */
.images-bakery {
  margin-top: 50px; }

#img-pastries {
  background: url("../images/pastries.jpg");
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  opacity: 0.5; }

#img-bigCake {
  background: url("../images/bigCake.jpg");
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  opacity: 0.5; }

#img-cookies {
  background: url("../images/cookies.jpg");
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  opacity: 0.5; }

/* ---------- PASTRY PAGE IMAGES ---------- */
#img-cannoli,
#img-puff,
#img-eclair,
#img-whoopie {
  display: block;
  margin-bottom: 30px;
  position: relative; }
  @media (min-width: 560px) {
    #img-cannoli,
    #img-puff,
    #img-eclair,
    #img-whoopie {
      display: inline-block;
      margin: 0px 15px 15px 15px; } }

.images-pastries {
  text-align: center;
  margin-top: 50px; }

#img-cannoli img:hover,
#img-puff img:hover,
#img-eclair img:hover,
#img-whoopie img:hover {
  transform: scale3d(1.05, 1.05, 1);
  opacity: 0.3; }

/* ---------- CAKE AND PIE PAGE IMAGES ---------- */
#img-cake,
#img-pie {
  display: block;
  margin-bottom: 30px;
  position: relative; }
  @media (min-width: 560px) {
    #img-cake,
    #img-pie {
      display: inline-block;
      margin: 0px 15px 15px 15px; } }

.images-cakesPies {
  text-align: center;
  margin-top: 50px; }

#img-cake img:hover,
#img-pie img:hover {
  transform: scale3d(1.05, 1.05, 1);
  opacity: 0.3; }

/* ---------- PAGE INFO BLOCKS---------- */
#info-bakery,
#info-pastries,
#info-cakesPies,
#info-cookies,
#info-cafe {
  text-align: center;
  margin-top: -15px; }

.curly-left {
  display: inline-block;
  font-size: 7em; }
  @media (min-width: 420px) {
    .curly-left {
      font-size: 6em; } }

#bakery,
#pastries,
#cakesPies,
#cookies,
#cafe {
  display: inline-block;
  width: 250px;
  text-align: justify;
  line-height: 100%;
  font-weight: 200; }
  @media (min-width: 420px) {
    #bakery,
    #pastries,
    #cakesPies,
    #cookies,
    #cafe {
      width: 300px; } }

.curly-right {
  display: inline-block;
  font-size: 7em; }
  @media (min-width: 420px) {
    .curly-right {
      font-size: 6em; } }

/* ---------- PASTRY PAGE CONTENT ---------- */
#list-pastries {
  font-weight: 400;
  list-style-type: none;
  float: left;
  margin-left: 30px;
  margin-top: 50px; }

#flavors-cannoli,
#flavors-puff,
#flavors-eclair,
#flavors-whoopie {
  display: none;
  font-weight: 400;
  list-style-type: none;
  float: right;
  text-align: right;
  margin-right: 30px;
  margin-top: 50px; }

.hover-text {
  opacity: 0;
  font-size: 1.5em;
  font-weight: 400;
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  text-align: center;
  z-index: 100; }

/* ---------- CAKE PAGE CONTENT ---------- */
/* ---------- COOKIE PAGE CONTENT ---------- */
#flavors-cookies {
  font-weight: 400;
  list-style-type: none;
  text-align: center;
  margin-left: 30px;
  margin-top: 50px; }

/*# sourceMappingURL=main.css.map */
