//@media screen and (min-width:320px){} // mobile portrait
//@media screen and (min-width:480px){} // mobile landscape
//@media screen and (min-width:768px){} // ipad portrait
//@media screen and (min-width:1024px){} // browser, ipad landscape
//@media screen and (min-width:1200px){} // browser
//@media screen and (min-width:1600px){} // browser

*{
  margin: 0;
  padding: 0;
}

/* ---------- BACKGROUNDS ---------- */
#page-home {
  background: url('../images/baking.jpg');
  background-size: cover;
  background-position: center;
}

#page-bakery,
#page-cafe,
#page-contact {
  background-color: #ffcc99;
}

#sub-pastries,
#sub-cookies {
  background-color: #ff99cc;
}

#sub-cakes {
  background-color: #ffcccc;
}



/* ---------- LINKS ---------- */
a:link {
  color: #660000;
  text-decoration: none;
}

a:visited {
  color: #660000;
}

a:hover {
  color: #ffffff; //change
}

a:active {
  color: #ffffff; //change
}


/* ---------- NAVIGATION ---------- */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #cc9966;
  width: 100%;
  height: 100px;
  box-shadow: 2px 6px 15px #333333; //right, bottom, fade, color

  ul {
    text-align: center;

    @media (min-width: 480px) {
      text-align: right;
      padding-right: 20px;
    }
  }

  li {
    list-style-type: none;
    margin-top: 50px;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    font-size: 1.2em;

    @media (min-width: 480px) {
      font-size: 1.5em;
    }
  }
} // end nav


/* ---------- HEADINGS ---------- */
h1 {
  padding: 10px;
  display: inline-block;
}

.main h1 {
  font-size: 3em;
}

.sub h1 {
  font-size: 3em;
}

/* ---------- PAGE HEIGHTS ---------- */
#page-home {
  height: 600px;
}

#page-bakery {
  height: 850px;
}

#page-cafe {
  height: 500px;
}

#page-contact {
  height: 700px;
}

.sub {
  height: 500px;
}

/* ---------- IMAGES ---------- */
.images-bakery {
  margin-top: 50px;
}

#img-pastries {
  background: url('../images/crop_pastries.jpg');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  opacity: 0.5;
}

#img-cakes {
  background: url('../images/crop_cake.jpg');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  opacity: 0.5;
}

#img-cookies {
  background: url('../images/crop_cookies.jpg');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  opacity: 0.5;
}


/*#img-pastries,
#img-cakes,
#img-cookies {
  display: block;
  padding-bottom: 30px;


  @media (min-width: 640px) {
    display: inline-block;
    padding: 0px 15px 0px 15px;
  }
}

.images {
  text-align: center;
  margin-top: 50px;
}*/

/* ---------- PAGE INFO ---------- */
#info-bakery,
#info-pastries,
#info-cakes,
#info-cookies,
#info-cafe { // info blocks
  text-align: center;
  margin-top: -15px;
}

.curly-left {
  display: inline-block;
  font-size: 7em;

  @media (min-width: 420px) {
    font-size: 6em;
  }
}

#bakery,
#pastries,
#cakes,
#cookies,
#cafe { // info text
  display: inline-block;
  width: 250px;
  text-align: justify;
  line-height: 100%;
  font-weight: 200;

  @media (min-width: 420px) {
    width: 300px;
  }
}

.curly-right {
  display: inline-block;
  font-size: 7em;

  @media (min-width: 420px) {
    font-size: 6em;
  }
}

/* ---------- HOME CONTENT ---------- */




/* ---------- PASTRY CONTENT ---------- */
#list-pastries {
  font-weight: 400;
  list-style-type: none;
  float: left;
  margin-left: 30px;
  margin-top: 50px;
}


#flavors-cannolo,
#flavors-puff,
#flavors-eclair,
#flavors-whoopie {
  display: none; // don't show until link is clicked
  font-weight: 400;
  list-style-type: none;
  float: right;
  text-align: right;
  margin-right: 30px;
  margin-top: 50px;
}

/* ---------- COOKIE CONTENT ---------- */
#flavors-cookies {
  font-weight: 400;
  list-style-type: none;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
