//@media screen and (min-width:320px){} // mobile portrait
//@media screen and (min-width:480px){} // mobile landscape
//@media screen and (min-width:768px){} // ipad portrait
//@media screen and (min-width:1024px){} // browser, ipad landscape
//@media screen and (min-width:1200px){} // browser
//@media screen and (min-width:1600px){} // browser

* {
  margin: 0;
  padding: 0;
}

/* ---------- JQUERY ADDED CLASSES ---------- */
.hide{
  display: none !important;
}

/* ---------- BACKGROUNDS ---------- */
#page-home {
  background: url('../images/baking.jpg');
  background-size: cover;
  background-position: center;
}

#page-cafe {
  background: url('../images/cafe.png');
  background-size: cover;
  background-position: center;
}

#page-bakery,
#page-contact {
  background-color: #ffcc99;
}

#sub-pastries,
#sub-cookies {
  background-color: #cc9999;
}

#sub-cakesPies {
  background-color: #ffcccc;
}


/* ---------- LINKS ---------- */
nav a:link {
  color: #660000;
  text-decoration: none;
}

nav a:visited {
  color: #660000;
}

nav a:hover {
  color: #ffffff; //change
}

nav a:active {
  color: #ffffff; //change
}


.content-bakery a:link {
  color: #000000;
  text-decoration: none;
}

.content-bakery a:visited {
  color: #000000;
}

.content-bakery a:hover {
  color: #ffffff; //change
}

.content-bakery a:active {
  color: #ffffff; //change
}


.button-back {
  text-align: center;
}

#button-pastries,
#button-cakesPies {
  display: none; // only show when image is clicked
  margin-top: 25px;
  background-color: #660000;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
}


/* ---------- NAVIGATION ---------- */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #cc9966;
  width: 100%;
  height: 100px;
  box-shadow: 2px 6px 15px #333333; //right, bottom, fade, color
  z-index: 1000;

  img {
    width: 210px;
    height: 110px;
  }
}


.menu-main {
  display: none; // don't display on mobile

  @media (min-width: 600px) {
    display: inline-block;
    float: right;
    padding-right: 20px;
  }
}

.menu-main li {
  list-style-type: none;
  margin-top: 50px;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  font-size: 1.2em;

  @media (min-width: 600px) {
    font-size: 1.5em;
  }
}

#hamburger {
  font-size: 2.5em;
  float: right;
  padding-right: 20px;
  margin-top: 30px;

  @media (min-width: 600px) {
    display: none; // don't display on desktop
  }
}

.menu-drop {
  display: none; // don't show until hamburger is clicked
  z-index: 900;
  font-size: 1.2em;
  background: #e8d6dd;
  text-align: center;

  li {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #1d1f20;
  }

  ul {
    margin-top: -13px;
  }

  ul li:hover {
    background: #cc9966;

  }

  ul a {
    margin: 0px;
    color: #660000;
  }

}


/* ---------- HEADINGS ---------- */
h1 {
  padding: 10px;
  display: inline-block;
}

.main h1 {
  font-size: 3em;
}

.sub h1 {
  font-size: 3em;
}


/* ---------- PAGE HEIGHTS ---------- */
#page-home,
#page-bakery,
#sub-pastries,
#sub-cakesPies,
#sub-cookies,
#page-cafe,
#page-contact {
  min-height: calc(100vh - 100px);
}

#page-bakery,
#sub-pastries,
#sub-cakesPies {
  padding-bottom: 30px;
}

/* ---------- BAKERY PAGE IMAGES ---------- */
.content-bakery {
  margin-top: 50px;
}

#img-pastries {
  background: url('../images/pastries.png');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

#img-bigCake {
  background: url('../images/bigCake.png');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

#img-cookies {
  background: url('../images/cookies.png');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}


/* ---------- PASTRY PAGE IMAGES ---------- */
#img-cannoli,
#img-puff,
#img-eclair {
  display: block;
  margin-bottom: 30px;
  position: relative;

  @media (min-width: 560px) {
    display: inline-block;
    margin: 0px 15px 30px 15px;
  }
}

#img-whoopie {
  display: block;
  position: relative;

  @media (min-width: 560px) {
    display: inline-block;
    margin: 0px 15px 0px 15px;
  }
}

.content-pastries {
  text-align: center;
  margin-top: 50px;
}

#img-cannoli img:hover,
#img-puff img:hover,
#img-eclair img:hover,
#img-whoopie img:hover {
  transform: scale3d(1.05, 1.05, 1);
  opacity: 0.3;
}


/* ---------- CAKE AND PIE PAGE IMAGES ---------- */
#img-cake {
  display: block;
  margin-bottom: 30px;
  position: relative;

  @media (min-width: 560px) {
    display: inline-block;
    margin: 0px 15px 30px 15px;
  }
}

#img-pie {
  display: block;
  position: relative;

  @media (min-width: 560px) {
    display: inline-block;
    margin: 0px 15px 0px 15px;
  }
}

.content-cakesPies {
  text-align: center;
  margin-top: 50px;
}

#img-cake img:hover,
#img-pie img:hover {
  transform: scale3d(1.05, 1.05, 1);
  opacity: 0.3;
}


/* ---------- PAGE INFO BLOCKS---------- */
#info-bakery,
#info-pastries,
#info-cakesPies,
#info-cookies,
#info-cafe { // info blocks
  text-align: center;
  margin-top: -15px;
}

.curly-left {
  display: inline-block;
  font-size: 7em;

  @media (min-width: 420px) {
    font-size: 6em;
  }
}

#text-bakery,
#text-pastries,
#text-cakesPies,
#text-cookies,
#text-cafe { // info text
  display: inline-block;
  width: 250px;
  text-align: justify;
  line-height: 100%;
  font-weight: 200;

  @media (min-width: 420px) {
    width: 300px;
  }
}

.curly-right {
  display: inline-block;
  font-size: 7em;

  @media (min-width: 420px) {
    font-size: 6em;
  }
}


/* ---------- BAKERY PAGE CONTENT ---------- */
#hover-mainPastries,
#hover-mainCakes,
#hover-mainCookies {
  //opacity: 0; // don't show until image is hovered over
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

/* ---------- PASTRY/CAKE PAGE CONTENT ---------- */
#flavors-cannoli,
#flavors-puff,
#flavors-eclair,
#flavors-whoopie,
#flavors-cakes,
#flavors-pies {
  display: none; // don't show until link is clicked
  font-weight: 400;
  list-style-type: none;
}

.list-pastries {
  display: none; // don't show until image is clicked
  vertical-align: top;
}

.list-cakesPies {
  display: none; // don't show until image is clicked
  vertical-align: top;
}

.flavors {
  display: inline-block;
}

.hover-pastries,
.hover-cakesPies {
  opacity: 0; // don't show until image is hovered over
  font-size: 1.7em;
  font-weight: 400;
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  text-align: center;
  z-index: 100;
}


/* ---------- COOKIE PAGE CONTENT ---------- */
#flavors-cookies {
  font-weight: 400;
  list-style-type: none;
  text-align: center;
  margin-top: 50px;
}


/* ---------- CONTACT PAGE CONTENT ---------- */
form {
  padding: 20px;

  @media (min-width: 560px) {
    width: 500px;
  }
}

fieldset {
  padding: 20px;
  margin-left: 20px;
}
